.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png");
  background-size: cover;
}
