<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <ng-content select="#title"></ng-content>
    </mat-card-title>
    <mat-card-subtitle>
      <ng-content select=".subtitle"></ng-content>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfYVWJm31zSfxBpm451CXy9chr0jkoyrvvpxxj-70Sbe6od2R6VJrF2sOK3H_WCk2bT2I&usqp=CAU"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions select="[actions]"> </mat-card-actions>
</mat-card>
